*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Helvetica", sans-serif;
  background-color: #eaeaea;
}

.wrapper {
  font-size: 1.25rem;
  min-width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: 15vw repeat(2, minmax(20rem, 1fr)) 15vw;
  grid-template-rows: repeat(auto-fit, minmax(1rem, auto));
  a {
    text-decoration: none;
    color: #eaeaea;
  }
}
