$color-primary-orange: #bd7343;
$color-primary--plum: #582e44;
$color-primary--red: #a7293c;
$color-primary--brownish: #8e7a3d;
$color-primary--yellowish: #d7b956;

$color-gray--light: #f5f5f5;
$color-gray--dark: #333;
