.btn-container {
  max-width: 30rem;

  .btn--start {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 0.4rem;
    outline: none;
    border: 0;
    cursor: pointer;
    padding: 1.6rem 3.2rem;
    background-color: #4d648d;
    font-size: 1.5rem;
    font-weight: 600;
    color: #eaeaea;
    transition: all 0.2s ease;

    &:hover {
      background-color: #d0e1f9;
      color: black;
    }
  }
}
