.foodsearch {
  background-image: url("https://images.unsplash.com/photo-1485962232502-f25e5874a8d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  color: #f2f3f2;
  min-height: 400px;
  margin-top: -3rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;

  &::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #283655;
    opacity: 0.9;
    position: absolute;
    z-index: -1;
  }

  .foodItem {
    margin: 1rem;
    padding: 2rem 3rem;
    background: #c05363;

    color: #f2f3f2;
    border-radius: 4px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.1rem 0.1rem 0.25rem 0.2rem rgba(25, 34, 54, 0.5);
  }

  .item {
    &__name {
      font-size: 3rem;
    }

    &__calories {
      font-size: 2.5rem;
    }
  }
}
