.foodpage {
  grid-column: 2 / 4;
  min-height: 50rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #283655;
  margin: 5rem 0;
  box-shadow: 0.2rem 0.1rem 0.6rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  &__header {
    color: #f2f3f2;
    font-size: 5rem;
  }

  &__content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    padding: 2.5rem;
    background-color: #f2f3f2;
    border-radius: 0.4rem;
    overflow-y: scroll;
    height: 100%;
  }

  &__item {
    padding: 1rem;
    text-transform: capitalize;

    &:nth-child(even) {
      color: black;
      background-color: #eaeaea;
    }
  }

  .cantfind {
    margin-top: 1rem;
    color: white;
  }
}
