.header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-around;
  background-color: #fff;

  &__items {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    padding: 0 2rem;
  }
}

.logo {
  padding: 0.5rem;
  display: flex;
  align-items: center;

  &__icon {
    width: 5rem;
    height: 5rem;
    fill: #582e44;
  }
  &__text {
    font-size: 3rem;
    color: #582e44;
    font-weight: 600;
  }
}
