.navbar {
  font-size: 1.2rem;
  background-color: rgb(34, 143, 207);
  color: #eaeaea;
  grid-column: 1 / -1;
  padding: 1rem;
  border-bottom: 1px solid rgba(34, 143, 207, 0.5);

  &__items {
    display: flex;
    list-style: none;
    justify-content: center;
  }

  &__link {
    padding: 0.5rem 3rem;
    text-transform: uppercase;
  }
}
